html,
body {
    height: 100%;
    margin: 0;
    background: white;
    color: black;
}

.container {
    height: 100%;
}

.left {
    width: 37%;
    float: left;
}

.pic {
    height: 100%;
    width: 63%;
    background-image: url("/pics/pines.jpg");
    position: relative;
}

p,
pre {
    text-align: center;
    white-space: pre;
    font-family: monospace;
}

hr {
    width: 93%;
}